

h3
	| {{dashboard.ctrlName}}


.row
	.col-xs-4
		.panel.panel-default
			.panel-body
				.blue.marg-b-20.text-center
					| Temperature
				.row
					.col-xs-12
						canvas(id="doughnut" class="chart chart-doughnut" chart-data="dashboard.data" chart-labels="dashboard.labels") 
				
	.col-xs-4
		.panel.panel-default
			.panel-body
				.blue.marg-b-20.text-center
					| CPU
				canvas(id="doughnut" class="chart chart-doughnut" chart-data="dashboard.data" chart-labels="dashboard.labels") 

	.col-xs-4
		.panel.panel-default
			.panel-body
				.blue.marg-b-20.text-center
					| Light Sensor
				canvas(id="doughnut" class="chart chart-doughnut" chart-data="dashboard.data" chart-labels="dashboard.labels") 

.row
	.col-xs-12
		.panel.panel-default
			.panel-body
				canvas(id="line" class="chart chart-line" chart-data="dashboard.chartdata"
		chart-labels="dashboard.chartlabels" chart-series="dashboard.series" chart-options="dashboard.options"
		chart-dataset-override="dashboard.datasetOverride" chart-click="dashboard.onClick")