doctype html
	
html
	head
		meta(charset="utf-8")
		title= 'Electron Pi' 
		script(type='text/javascript',src='config.js')
		script(type='text/javascript')
			require('electron-connect').client.create()
	body
		h1.title="This is Electron on Pi.."